<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action="" method="post">
					<span class="login100-form-title p-b-51">
						Login
					</span>


					<div class="wrap-input100 m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="name" placeholder="NAME Guest" value="{{ request.form.name }}">
						<span class="focus-input100"></span>
					</div>

<!-- class="wrap-input100 m-b-16" -->
					<div class="wrap-input100 m-b-16" data-validate = "Organization is required">
						<input class="input100" type="text" name="organization" placeholder="ORGANIZATION" value="{{ request.form.organization }}">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-16" data-validate = "Code is required">
						<textarea class="input100" name="code" placeholder="def adult_pipeline_easy(f_path = 'data/adult_train.csv'):

				    raw_data = pd.read_csv(f_path, na_values='?', index_col=0)

				    data = raw_data.dropna()

				    labels = label_binarize(data['income-per-year'], ['>50K', '<=50K'])

				    feature_transformation = ColumnTransformer(transformers=[
				        ('categorical', OneHotEncoder(handle_unknown='ignore'), ['education', 'workclass']),
				        ('numeric', StandardScaler(), ['age', 'hours-per-week'])
				    ])


				    income_pipeline = Pipeline([
				        ('features', feature_transformation),
				        ('classifier', DecisionTreeClassifier())])

				    return income_pipeline" value="{{ request.form.code }}" ></textarea>
					</div>

					<div class="wrap-input100 m-b-16">
						<input class="input100" type="text" name="target_name" placeholder="income-per-year, >50K" value="{{ request.form.target_name }}">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-16">
						<input class="input100" type="text" name="cat_target" placeholder="sex, race" value="{{ request.form.cat_target }}">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-16">
						<input class="input100" type="text" name="num_target" placeholder="age, hours-per-week" value="{{ request.form.num_target }}">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-16">
						<input class="input100" type="text" name="perform_target" placeholder="PR" value="{{ request.form.perform_target }}">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<input class="login100-form-btn" type="submit" value="Login">
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
</html>
